<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.macbitsgoa.icef_2018">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name="com.macbitsgoa.icef_2018.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/bits" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimaryDark" />

        <provider
            android:name="com.macbitsgoa.icef_2018.GenericFileProvider"
            android:authorities="${applicationId}.my.package.name.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity
            android:name="com.macbitsgoa.icef_2018.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.macbitsgoa.icef_2018.Main_Eateries"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.macbitsgoa.icef_2018.EateriesDetail"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_eateries_detail"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyANZJ_Dll_PvQLjpSHmL_b_NW2AzKMQTyg" />

        <activity
            android:name="com.macbitsgoa.icef_2018.BPGCMapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.macbitsgoa.icef_2018.Speakers"
            android:label="@string/title_activity_timeline"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name="com.macbitsgoa.icef_2018.Timeline"
            android:label="@string/title_activity_timeline"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />

      <!--  <activity
            android:name="com.macbitsgoa.icef_2018.SignInActivity"
            android:label="ICEF 2018"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />-->
        <activity
            android:name="com.macbitsgoa.icef_2018.SplashScreen"
            android:label="ICEF 2018"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.macbitsgoa.icef_2018.Faq"
            android:screenOrientation="sensorPortrait" />

        <activity
            android:name="com.macbitsgoa.icef_2018.Participants"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.macbitsgoa.icef_2018.NotificationSender"
            android:label="@string/title_activity_notification_sender"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.macbitsgoa.icef_2018.Notifications"
            android:label="@string/title_activity_notifications"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>